html {
    text-align: left;
    font-family: 'Lato', sans-serif;
    background-color: #aec6cf;
}

main {
    background-color: white;
    padding: 1px 30px 30px 30px;
    margin: 0px 15vw 0px 15vw;
}

h2 {
    margin: 20px 0px 10px 0px;
}

h4 {
    padding-bottom: 0px;
    margin: 20px 0px 10px 0px;
}

ul {
    margin: 0px;
}

li {
    text-align: left;
    font-family: 'Open Sans'
}

p {
    font-family: 'Open Sans';
    padding: 0px;
}

#picOfMyself {
    width: 18vw;
    margin: 0px 20px 0px 0px;
    border-radius: 10%;
    float: left;
}

/* Social Media Icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}